AppData/
Documents/
Downloads/
Desktop/
ntuser*
*.ini
*.log
AppData/
Local Settings/
Application Data/
Cookies/
Favorites/
Links/
My Documents/
Recent/
Saved Games/
Searches/
SendTo/
*.ini
*.log
ntuser*
